<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434831012286-b1pa820r0obvki8nogaqpnvfnmpbcdsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434831012286-b1pa820r0obvki8nogaqpnvfnmpbcdsp</string>
	<key>API_KEY</key>
	<string>AIzaSyBuJstTX5AzhJDtsLH7AQNl4fKnoLbjlFk</string>
	<key>GCM_SENDER_ID</key>
	<string>434831012286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meltsplit.ZOOC-DEV</string>
	<key>PROJECT_ID</key>
	<string>zooc-server</string>
	<key>STORAGE_BUCKET</key>
	<string>zooc-server.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434831012286:ios:0e7c0cd244a8a566f709ef</string>
</dict>
</plist>