//
//  Debug.xcconfig
//  ZOOC
//
//  Created by 장석우 on 2023/08/03.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = https:/$()/www.zooc-test.p-e.kr

KAKAO_APPKEY = 7252ac581ab8d200cf5aeb552b42697e

// App Settings
APP_NAME = ZOOC-Dev
APP_BUNDLE_ID = com.meltsplit.ZOOC-DEV
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon.debug
