//
//  Release.xcconfig
//  ZOOC
//
//  Created by 장석우 on 2023/08/03.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = https:/$()/www.zooc.store

KAKAO_APPKEY = d594d72f1d6a6935702b35865faf122f

// App Settings
APP_NAME = ZOOC
APP_BUNDLE_ID = com.meltsplit.ZOOC
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
